@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
        url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --main-theme-color: rgb(89, 109, 72);
    --aux-bg-color: rgb(240, 240, 240);
    --input-focus-color: rgb(144, 205, 255);
    --box-shadow-all: 0 3px 10px rgb(0, 0, 0, 0.3);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.side-logo {
    width: 35%;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-container {
    width: 100%;
    height: 160px;
    margin-top: 175px;
    background-color: rgba(0, 0, 0, 0.6);
}

.logo-text {
    font-family: "norsebold", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 30px;
    color: rgb(255, 255, 255);
    font-size: 6rem;
}

.logo-text::before {
    content: "";
    display: block;
    height: 100%;
    width: 100px;
    background-image: url(images/odin-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.side-form {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.top {
    height: 34%;
    background: var(--aux-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 60px 40px;
    gap: 10px;
    position: relative;
    z-index: 0;
}

.top p {
    max-width: 80ch;
    font-size: 1.2rem;
    font-weight: 500;
}

.middle {
    height: 32%;
    padding: 0 0 0 40px;
    box-shadow: var(--box-shadow-all);
    position: relative;
    z-index: 1;
}

.middle>h1 {
    font-size: calc(24rem / 16);
    margin: 10px 0 15px 0;
}

.row {
    max-width: 800px;
    display: flex;
    gap: 80px;
    margin: 0 0 20px 0;
}

.button {
    position: relative;
    top: 60px;
    left: 0px;
}

.button button {
    background-color: var(--main-theme-color);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border: 0;
    border-radius: 5px;
    padding: 5px 40px 5px 40px;
    box-shadow: var(--box-shadow-all);
    margin: 0 0 25px 0;
}

.button button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4);
}

.button a {
    color: var(--main-theme-color);
    text-decoration: none;
    font-weight: bold;
}

input {
    width: 350px;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}

input:focus {
    outline: 2px solid var(--input-focus-color);
    box-shadow: var(--box-shadow-all);
}

input:user-invalid {
    outline: 2px solid tomato;
}

input:user-valid {
    outline: 2px solid lightgreen;
}

label {
    display: block;
    font-size: 0.8rem;
}

.bottom {
    height: 34%;
    background: var(--aux-bg-color);
    position: relative;
    z-index: 0;
}