@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
        url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --aux-bg-color: rgb(240, 240, 240);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.side-logo {
    width: 35%;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-container {
    width: 100%;
    height: 160px;
    margin-top: 175px;
    background-color: rgba(0, 0, 0, 0.6);
}

.logo-text {
    font-family: "norsebold", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 30px;
    color: rgb(255, 255, 255);
    font-size: 6rem;
}

.logo-text::before {
    content: "";
    display: block;
    height: 100%;
    width: 100px;
    background-image: url(images/odin-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.side-form {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.top {
    height: 34%;
    background: var(--aux-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 60px 40px;
    gap: 10px;
}

.top p {
    max-width: 80ch;
    font-size: 1.2rem;
    font-weight: 500;
}

.middle {
    height: 32%;
}

.bottom {
    height: 34%;
    background: var(--aux-bg-color);
}